body {
  background-color: #f5f5f4;
}

nav {
  background-color: #ec4d37;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 600;
} 

.logout {
  cursor: pointer;
  font-size: 14px;
  border: none;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.chat-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
}

.chat-input-wrapper {
  width: 100%;
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid lightgrey;
}

.chat-input {
  border-color: #eaeaea;
  width: -webkit-fill-available;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  border-style: double;
  margin-right: 10px;
  margin-left: 6px;
}

.chat-button {
  color: white;
  background-color:#ec4d37;
  font-size: 14px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.chat-list {
  height: calc(100vh - 115px);
}