html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

button,
input {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #5d5fef;
}

a {
  color: inherit;
}

nav {
  padding: 12px;
  border-bottom: 1px solid #dddddd;
}

.container {
  max-width: 1000px;
  margin: auto;
}

/* AppBar style */
.app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.avatar {
  background-color: var(--primary);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.avatar-button {
  background-color: transparent;
  border: none;
}

.menu-items {
  position: absolute;
  background-color: white;
  right: 0;
  border: 1px solid #d7dbdf;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  margin-top: 8px;
  min-width: 140px;
}

.arrow {
  border-left: 1px solid #d7dbdf;
  border-top: 1px solid #d7dbdf;
  height: 10px;
  width: 10px;
  background-color: white;
  position: absolute;
  transform: rotate(45deg);
  top: -7px;
  right: 12px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.logout-button {
  color: #ff4450;
}

.logout-button svg {
  margin-right: 6px;
}

.logo {
  height: 36px;
}

.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loading img {
  animation: loading 0.8s ease-in-out infinite alternate;
}

@keyframes loading {
  to {
    opacity: 0.2;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    height: 26px;
  }

  nav {
    padding: 8px;
  }

  .container {
    padding: 0 20px;
  }
}
