
.addWrapper {
  display: grid;
  grid-template-columns: 1fr 70px;
  grid-gap: 8px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.item {
  padding: 8px 2px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 12px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.deleteIcon {
  height: 20px;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logout {
  color:#ec4d37;
  font-size: 14px;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox {
  margin-right: 16px;
  cursor: pointer;
}

.iconButton {
  cursor: pointer;
  margin-left: 2px;
  background-color: transparent;
  border: none;
}

.iconButton img {
  height: 22px;
}

.updateWrapper {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-gap: 8px;
  width: 100%;
}

.updateWrapper input {
  font-size: 20px;
  padding: 0px;
  border: none;
  margin-top: -4px;
}

.updateWrapper input:focus {
  outline: none;
}


.updateWrapper button {
  margin: auto 0 auto auto;
}

.updateWrapper button {
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 600px) {
  .addWrapper {
    margin-top: 20px;
  }
}