.container {
  padding: 0 20px;
  max-width: 700px;
  margin: auto;
}

.addWrapper {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-gap: 8px;
  margin-bottom: 20px;
}

.item {
  padding: 8px 12px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 12px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.deleteIcon {
  height: 20px;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logout {
  color:#ec4d37;
  font-size: 14px;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}