.formContainer {
    max-width: 480px;
    margin: auto;
    margin-top: 90px;
    padding: 0 20px;
  }
  
  .label {
    font-size: 14px;
    display: flex;
    margin-bottom: 8px;
  }
  
  .input {
    border-color: #D7DBDF;
    width: -webkit-fill-available;
    padding: 12px 12px;
    font-size: 16px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
  }
  
  .button {
    width: 100%;
    color: white;
    background-color: var(--primary);
    font-size: 16px;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .inputWrapper {
    margin-bottom: 16px;
  }
  
  .buttonWrapper {
    margin-top: 24px;
  }
  
  .formFooter a {
    font-weight: 600;
  }